.cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #E5E5E5;
    min-height: 100vh;
}

.bxs-down-arrow {
    display: none;
}


.cards-container-poke {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    border-radius: 10px;
}


.searchArea {
    background-color: #0f0e0e;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    padding-top: 100px;

}

.welcomeName {
    font-size: 13px;
    color: white;
    padding: 0 1em 0 2em;
    font-size: clamp(13px, 2vw, 20px);/* ajustar el minimo y el maximo de mi texto*/
}

.welcomeName span {
    color: #0a0a0a;
    font-weight: bold;
}

.formArea {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;

}

.searchText {
    max-width: 300px;
    width: 40vw;
    min-width: 200px;
    height: 40px;
    background-color: #E5E5E5;
    border: none;
    padding: 15px;
}

.select {
    cursor: pointer;
    height: 40px;
    border: none;
    width: 200px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    padding: 5px;
    background-color: #E5E5E5;
}

.btm {
    cursor: pointer;
    width: 100px;
    height: 43px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border: none;
    margin-right: 5px;
    color: white;
    font-weight: 600;
    transition: transform 200ms ease;
}

.btm:hover {
    transform: scale(1.1);
}

.btn_search {
    background-color: #D93F3F;
}

.pokeHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D93F3F;
    position: fixed;
    z-index: 1000;
    min-width: 300px;
}

.pokeHeader img {
    height: 70px;
    max-width: 400px;
    width: 45vw;
    min-width: 280px;
    padding: 0.5em;
}


@media (max-width: 675px) {
    .pokeHeader {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menuResponsive {
        position: fixed;
        z-index: 3000;
        top: 55px;
        left: 7px;
    }

    .bxs-down-arrow {
        display: inline-block;
        font-size: 40px;
    }

    .formArea {
        gap: 1em;
    }

    .searchArea {
        background-color: rgba(47, 41, 61, 0.95);
        position: fixed;
        top: -80vh;
        left: 0;
        width: 100%;
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        transition: top .5s;
        z-index: 1000;
    }

    .active {
        top: 0;
        height: 38vh;
        z-index: 100;
    }

    .cards-container-poke {
        margin-top: 20px;
    }

    .paginacion-content {
        padding-top: 90px;
    }
}