.pokemonDetailpage {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imgDetailsPokemon {
    margin-top: 120px;
    position: relative;
    width: clamp(250px, 40vw, 400px);
}

.containerDetails {
    width: 90%;
    min-height: 500px;
    margin-top: -200px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    padding: 5px 5px 50px 5px;
    border-radius: 5px;
    overflow: hidden;
}

.headerDetails {
    height: 200px;
    width: 100%;
    text-align: center;
}

.pokemonsDetailName {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.pokemonsDetailName h1{
    background: transparent
}
.pokemonId {
    min-width: 100px;
    max-width: 200px;
    padding: 20px 10px;
    font-size: 40px;
    font-weight: 600;
    margin: 40px auto 0px auto;
    text-align: center;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    background: white;
}

.linea {
    display: inline-block;
    width: 200px;
    height: 0px;
    border: 1px solid #9F9F9F;
}

.pokemonDetailpage h1 {
    margin: 0 20px;
    font-size: 45px;
    display: inline-block;
    width: auto;
}

.pokemonheight {
    width: 100%;
    text-align: center;
    padding: 0;
}

.pokemonheight li {
    margin: auto;
    display: inline-block;
    margin: 0px 50px;
    font-size: 16px;
}

.pokemonheight li span {
    font-size: 25px;
    display: block;
}

.typesAndabilities {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}
.typesAndabilities ul{
    padding: 0;
}
.typesAndabilities ul li {
    display: inline-block;
    margin: 10px 10px;
    max-width: 150px;
    min-width: 150px;
    padding: 10px 20px;
    border: 1px solid #D3D3D3;
    font-weight: 600;
    text-transform: capitalize;
}

.statsSection {
    margin: auto;
    width: 80%;
    margin-top: 50px;
}

.statsHeader {
    display: flex;
    align-items: center;
    margin: 50px 0 20px 0;
    justify-content: space-around;

}

.statsTitle {
    margin-right: 20px;
    width: auto;
    font-size: 35px;
  

}

.separador {
    width: 80%;
    height: 0px;
    border: 1px solid #9F9F9F;
}


.statsList li {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 600;
}


.statBaseBar {

    margin-top: 10px;
    height: 30px;
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(65, 100, 96, 0.579);
}

.statBar {
    height: 100%;
    background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
    border-radius: 4px;
    animation: statsbar 1s 1;
    animation-timing-function: ease-in;
}


@keyframes statsbar {
    0% {
        width: 0%;
    }
}


.containerMoves {
    width: 90%;
    min-height: 500px;
    margin-top: 50px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    padding: 5px 5px 50px 5px;
    border-radius: 5px;
    overflow: hidden;
}

.movementsUL {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 0.5em;

}

.movements {
    background: #E5E5E5;
    border-radius: 20px;
    padding: 5px 30px;
    display: flex;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #302F2F;
    margin: 10px 0px;
    text-transform: capitalize;
    cursor: pointer;
    width: 130px;
    justify-content: center;
    align-items: center;
}

.movements:hover {
    transform: scale(1.09);
}

@media (max-width: 700px) {
    .typesAndabilities {
        display: block;
    }

    .typesAndabilities ul li {
        width: 100%;
    }

    .statsTitle {

        margin: auto;
    }
    .imgDetailsPokemon {
        margin-top: 150px;
    }
    .headerDetails {
        height: 150px;
        width: 100%;
        text-align: center;
    }
    .containerDetails{
        margin-top: -150px;
    }
}


@media (max-width: 400px) {
    .movements {
        width: 80%;
    }
    

}