/* classes condicionales para fondo y border */

/*Planta*/
.br__grass {
    background: linear-gradient(#7ec6c5, #abdac6, #cae099) border-box;
    color: #416460;
}


/*Fuego*/
.br__fire {
    background: linear-gradient(#f96d6f, #e35825, #e8ae1b) border-box;
    color: #E75C35;
    
}

/*Agua*/
.br__water {
    background: linear-gradient(#123259, #1479fb, #82b2f1) border-box;
    color: #1479FB;
}

/*Bicho*/
.br__bug {
    background: linear-gradient(#62db60, #3bb039, #aaffa8) border-box;
    color: #4AB648;
}

/*Normal*/
.br__normal {
    background: linear-gradient(#735259, #bc6b7c, #7c3f4c) border-box;
    color: #735259;
}

/*Veneno*/
.br__poison {
    background:linear-gradient( #5B3184, #A564E3, #CE9BFF ) border-box;
    color:   #5B3184;
}

/*Electrico*/
.br__electric {
    background:linear-gradient( #0C1395, #2B319B, #7075D9) border-box;
    color: #0C1395;
}

/*Tierra*/
.br__ground {
    background: linear-gradient( #654008, #895C1A, #D69638) border-box;
    color: #654008;
}

/*Hada*/
.br__fairy {
    background:linear-gradient( #971B45 , #C23867 , #CD7D98) border-box;
    color:#971B45;
}

/*Lucha*/
.br__fighting {
    background:linear-gradient( #96402A, #F1613C, #CB735D ) border-box;
    color:  #96402A;
}

/*Psiquico*/
.br__psychic {
    background:linear-gradient( #FCD676, #E6901E, #e6a044 ) border-box;
    color: #E6901E;
}

/*Roca*/
.br__rock {
    background:linear-gradient( #7E7E7E , #8D8D94 , #D3D3D3 ) border-box;
    color:#7E7E7E;
}

/*Fantasma*/
.br__ghost {
    background:linear-gradient( #323569 , #454AA8 , #787DDA ) border-box;
    color: #323569;
}

/*Hiealo*/
.br__ice {
    background:linear-gradient( #6FBEDF , #64CBF5 , #BDEBFE ) border-box;
    color: v#6FBEDF;
}

/*Dragon*/
.br__dragon {
    background:linear-gradient( #478A93 , #56A4AE , #A2BEC1) border-box;
    color: #478A93;
}

/*Oscuro*/
.br__dark {
    background:linear-gradient( #030706 , #0D1211 , #5A5E5D ) border-box;
    color: #030706;
}

/*Acero*/
.br__steel {
    background: linear-gradient( #5E736C , #728881 , #A8A8A8) border-box;
    color: #5E736C;
}

/*Volador*/
.br__flying {
    background: linear-gradient( #735259, #BC6B7C , #7C3F4C ) border-box;
    color: #735259;
}




.Pokecard {
    width: 350px;
    margin: 10px 20px;
    border-radius: 5px;
    border: 10px solid transparent ;
}

.Pokecard header {
    width: 100%;
    text-align: center;
    height: 150px;
    display: flex;
    justify-content: center;
}

.circle-light {
    width: 55%;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(251, 249, 249);
  }
  
.pokemonImg {
    width: 162px;
    position: relative;
    bottom: -20px;
    cursor: pointer;
    transition: transform 200ms ease;

}

.pokemonImg:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.card_info_container {
    background-color: white;
}

.cardBody {
    position: relative;
    text-align: center;
    height: 75px;
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: -1px;
}

.cardBody h3 {
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.cardBody ul {

    width: 100%;
    display: flex;
    gap: 0.2em;
    justify-content: center;
    color: #030706;
    padding: 0;
}


.pokeInfo{
    padding: 10px;
}

.pokeInfo ul{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 5PX;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 3px;
}
.pokeLoading{
    display: flex;
    align-items: center;
    color: white;
}

